.places {
    max-width: 984px;
    margin: 0 auto 0;
    padding: 0 48px 0;
  }
  
  @media screen and (max-width: 1024px) {
    .places {
      margin: 0;
    }
  }

  @media screen and (max-width: 860px) {
    .places {
      padding: 0 24px 0;
    }
  }
  
  @media screen and (max-width: 650px) {
    .places {
      padding: 0;
    }
  }