.place {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: minmax(min-content, 460px) minmax(min-content, 1fr);
    gap: 48px 40px;
    max-width: 984px;
  }

  @media screen and (max-width: 1030px) {
    .place {
      grid-template-columns: minmax(min-content, 440px) minmax(min-content, 1fr);
      gap: 48px 32px;
    }
  }
  @media screen and (max-width: 860px) {
    .place {
      grid-template-columns: minmax(min-content, 340px) minmax(min-content, 1fr);
      gap: 48px 28px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .place {
      grid-template-columns: minmax(min-content, max-content);
      gap: 32px;
    }
  }
